<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="healthzone.com.example.kuldeep.healthzone">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/newlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        <receiver
            android:name=".DailyNotification"
            android:process=":remote" >
        <intent-filter>
            <action android:name="healthzone.com.example.kuldeep.healthzone.DAILY_NOTIFICATION" />
            <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
        </intent-filter>
        </receiver>
        -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FirstAction"
            >
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Signup"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".RegisterChoice"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".UserDetail"
            android:label="@string/title_activity_user_detail"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".Chart"
            android:label="@string/title_activity_chart" >
        </activity>
        <activity
            android:name=".ChartDays"
            android:label="chart_days" >
        </activity>
        <activity
            android:name=".HealthCare"
            android:label="@string/title_activity_health_care"
            android:theme="@style/Theme.Design.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".HealthCareImages"
            android:label="@string/title_activity_health_care_images" >
        </activity>
        <activity
            android:name=".CareMenu"
            android:label="@string/title_activity_care_menu" >
        </activity>
        <activity
            android:name=".Yoga"
            android:label="@string/title_activity_yoga" >
        </activity>
        <activity
            android:name=".Guideline"
            android:label="@string/title_activity_dicease" >
        </activity>
        <activity
            android:name=".YogaImage"
            android:label="@string/title_activity_yoga_image" >
        </activity>
        <activity
            android:name=".EatingReminder"
            android:label="@string/title_activity_reminder" >
        </activity>
        <activity
            android:name=".ExerciseReminder"
            android:label="@string/title_activity_exercise_reminder" >
        </activity>
        <activity
            android:name=".WalkingReminder"
            android:label="@string/title_activity_walking_reminder" >
        </activity>




        <activity
            android:name=".ChartDemoFragment"
            android:label="@string/title_activity_chart_demo_fragment" >
        </activity>
        <activity
            android:name=".Breakfast"
            android:label="@string/title_activity_breakfast" >
        </activity>
        <activity
            android:name=".Lunch"
            android:label="@string/title_activity_lunch" >
        </activity>
        <activity
            android:name=".Snacks"
            android:label="@string/title_activity_snacks" >
        </activity>
        <activity
            android:name=".Dinner"
            android:label="@string/title_activity_dinner" >
        </activity>
        <activity
            android:name=".Exercise"
            android:label="@string/title_activity_exercise" >
        </activity>
        <activity
            android:name=".YogaNew"
            android:label="@string/title_activity_yoga_new" >
        </activity>
        <activity
            android:name=".DiseaseNew"
            android:label="@string/title_activity_disease_new" >
        </activity>
        <receiver android:name=".DailyNotification" />
    </application>

</manifest>
